.pax-num {
  position: absolute;
  transform: rotateZ(-10deg);
  @include media-breakpoint-up(sm) {
    top: 100px;
    left: 30px;
  }
  @include media-breakpoint-up(md) {
    top: 118px;
    left: 45px;
  }
  @include media-breakpoint-up(lg) {
    top: 165px;
    left: 45px;
  }
  @include media-breakpoint-up(xl) {
    top: 118px;
    left: 45px;
  }
  &-img {
    width: 100px;
  }
}
.cart-num {
  position: absolute;
  padding: 4px 8px;
  border-radius: 50%;
  background: $danger;
  color: $black;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  top: -6px;
  left: 20px;
  @include media-breakpoint-up(sm) {
    top: -4px;
    left: 25px;
  }
  @include media-breakpoint-up(md) {
    top: 2px;
    left: 25px;
  }
}

.cart-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 0.5rem;
  @include media-breakpoint-up(sm) {
    width: 100px;
    height: 100px;
  }
}

.step {
  &-list {
    position: absolute;
    top: 129px;
    left: 50%;
    transform: translate(-50%);
    @include media-breakpoint-up(md) {
      top: 119px;
    }
    @include media-breakpoint-up(lg) {
      top: 114px;
    }
  }
  &-item {
    width: 80px;
    height: 40px;
    background: $light;
    border: 1px dotted $primary;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: 0;
    @include media-breakpoint-up(md) {
      width: 100px;
      height: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    }
    @include media-breakpoint-up(lg) {
      width: 110px;
      height: 55px;
      border-top-left-radius: 55px;
      border-top-right-radius: 55px;
    }
  }
  &-icon {
    position: absolute;
    top: -18px;
    left: 54%;
    transform: translate(-50%);
  }
  &-text {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    color: $gray;
  }
}

.delete-cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $black;
  opacity: 0.1;
  &:hover {
    opacity: 0.9;
  }
}
