.logo {
  display: block;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/logo.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
}
.banner {
  padding: 2rem 0;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E8%83%8C%E6%99%AF1.png?raw=true);
  background-image: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E8%83%8C%E6%99%AF1.png?raw=true), 90%); // 讓背景透明但上面的字不影響
  background-image: cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E8%83%8C%E6%99%AF1.png?raw=true), 90%); // 讓背景透明但上面的字不影響
  @include media-breakpoint-up(lg) {
    height: 600px;
    position: relative;
  }
  @include media-breakpoint-up(xl) {
    height: 760px;
  }
  &-btn {
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-up(sm) {
      height: 150px;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
  &-title {
    font-weight: bold;
    color: $light;
    background: $primary;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
  }
  &-text {
    color: $white;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 63%;
      left: 31%;
    }
    @include media-breakpoint-up(xl) {
      top: 65%;
      left: 31%;
    }
  }
}
.banner-btn-city-tour,
.banner-btn-tkt,
.banner-btn-rent-car {
  width: 140px;
  height: 140px;
  background-size: contain;
  background-position: center;
  @include media-breakpoint-up(md) {
    width: 200px;
    height: 200px;
  }
  @include media-breakpoint-up(lg) {
    background-size: contain;
    width: 280px;
    height: 280px;
  }
  @include media-breakpoint-up(xl) {
    width: 350px;
    height: 350px;
  }
}
.banner-btn-tpe,
.banner-btn-txg,
.banner-btn-tnn,
.banner-btn-kao,
.banner-btn-hun {
  width: 140px;
  height: 140px;
  background-size: contain;
  background-position: center;
  @include media-breakpoint-up(lg) {
    width: 150px;
    height: 150px;
  }
  @include media-breakpoint-up(xl) {
    width: 200px;
    height: 200px;
  }
}
.banner-btn {
  &-city-tour {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E5%9F%8E%E5%B8%82%E5%B0%8E%E8%A6%BDicon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 32%;
      left: 5%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        bottom: -5%;
        left: 30%;
      }
    }
  }
  &-tkt {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E7%A5%A8%E5%88%B8%E9%AB%94%E9%A9%97%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 4%;
      left: 41%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        bottom: -13%;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
      }
    }
  }
  &-rent-car {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E5%8C%85%E8%BB%8A%E6%9C%8D%E5%8B%99%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 27%;
      left: 70%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        bottom: 2%;
        right: -1%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
      }
    }
  }
  &-tpe {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E9%9B%99%E5%8C%97%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 7%;
      left: 12%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        top: -10%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
      }
    }
  }
  &-txg {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E4%B8%AD%E9%83%A8%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 6%;
      left: 70%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        top: 10%;
        right: -20%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
      }
    }
  }
  &-tnn {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E5%8D%97%E9%83%A8%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 70%;
      left: 72%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        display: block;
        bottom: 10%;
        left: -30%;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
      }
      @include media-breakpoint-up(xl) {
        bottom: 10%;
        left: -10%;
      }
    }
  }
  &-kao {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E9%AB%98%E5%B1%8F%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 26%;
      left: 28%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        top: 60%;
        left: 10%;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
      }
    }
  }
  &-hun {
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/%E8%8A%B1%E6%9D%B1%20icon.png?raw=true);
    @include media-breakpoint-up(lg) {
      top: 60%;
      left: 56%;
    }
    @include media-breakpoint-up(xl) {
      top: 58%;
      left: 55%;
    }
    &-title {
      @include media-breakpoint-up(lg) {
        top: 30%;
        right: -10%;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
      }
      @include media-breakpoint-up(xl) {
        top: 35%;
        right: -10%;
      }
    }
  }
}
.car {
  position: absolute;
  bottom: 0px;
  left: 90%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/car%20icon.png?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  animation-name: car;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes car {
  0% {
    left: 90%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}
