.logo {
  display: block;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/logo.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
}
.car {
  position: absolute;
  bottom: 0px;
  left: 90%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/car%20icon.png?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  animation-name: car;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes car {
  0% {
    left: 90%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}
.banner {
  position: relative;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/photo-1583395145517-1e3177037600.jpeg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  @include media-breakpoint-up(md) {
    height: 500px;
  }
  &-inner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    @include media-breakpoint-up(md) {
      top: 50%;
      left: 5%;
      transform: translate(0, -50%);
      text-align: left;
    }
  }
  &-title {
    font-weight: bold;
    font-size: $h2-font-size;
    color: $primary;
    width: 100%;
    @include media-breakpoint-up(md) {
      font-size: $h1-font-size;
      color: $white;
    }
  }
  &-btn {
    width: 100%;
    &:hover {
      transform: translate(0, -3px);
    }
    &-outer {
      background: transparent;
      @include media-breakpoint-up(md) {
        background: $primary;
        border-radius: 0.5rem;
        width: 25%;
      }
    }
  }
}
