.nav-link {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(md) {
    padding: 0.5rem 1rem;
  }
  &-outline-primary {
    color: $primary;
  }
  &-danger {
    background: $danger;
    color: $dark;
  }
}
.nav-pills > .nav-item > .nav-link {
  padding: 0.5rem 1rem;
}
.nav-pills .nav-link-outline-primary {
  border: 1px solid $primary;
}
.nav-pills .nav-link-danger {
  background: $danger;
  border: 1px solid $danger;
}
