.searchBox {
  border-radius: 0.5rem;
  &-header {
    border-radius: inherit;
    background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/public/img/searchBox.png?raw=true);
    background-repeat: no-repeat;
    height: 4rem;
  }
  &-body {
    border-radius: inherit;
    @include media-breakpoint-up(lg) {
      border-top: 3px solid $secondary;
      background: $white;
      padding: 2rem 1.5rem;
    }
    input,
    select {
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 0.5px solid $primary;
      @include media-breakpoint-up(lg) {
        border: 0.5px solid $gray;
      }
    }
    input {
      width: 100%;
    }
    select {
      width: 50%;
      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }
}
