.tab {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  &:hover {
    transform: translateY(-4px);
  }
  &-img {
    width: 80px;
    height: 80px;
    @include media-breakpoint-up(lg) {
      width: 124px;
      height: 124px;
    }
  }
  &-title {
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #000;
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
  &-description {
    margin-left: 1rem;
    font-size: 0.75rem;
    color: $gray-600;
  }
}
