.ellipsis {
  overflow: hidden;
  &-width {
    width: 150px;
    @include media-breakpoint-up(sm) {
      width: 300px;
    }
    @include media-breakpoint-up(md) {
      width: 400px;
    }
    @include media-breakpoint-up(lg) {
      width: 350px;
    }
    @include media-breakpoint-up(xl) {
      width: 450px;
    }
  }
  &-one-line {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-multi-line {
    display: none;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    @include media-breakpoint-up(sm) {
      display: -webkit-box;
      -webkit-line-clamp: 1;
    }
    @include media-breakpoint-up(md) {
      -webkit-line-clamp: 2;
    }
  }
}
