.h1-lg {
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}
.h2-lg {
  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}
.h2-md {
  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

.h3-sm {
  @include media-breakpoint-up(sm) {
    font-size: $h3-font-size;
  }
}
.h3-md {
  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

.h4-sm {
  @include media-breakpoint-up(sm) {
    font-size: $h4-font-size;
  }
}
.h4-md {
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}
.h4-lg {
  @include media-breakpoint-up(lg) {
    font-size: $h4-font-size;
  }
}
