.w-sm-50 {
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
}
.w-md-50 {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
.w-lg-75 {
  @include media-breakpoint-up(lg) {
    width: 75%;
  }
}
.w-md-100 {
  @include media-breakpoint-up(md) {
    width: 100% !important;
  }
}
