@import './utils/border';
@import './components/list';
@import './components/tab';
@import './components/tag';

.logo {
  display: block;
  background-image: url(https://github.com/vvvvvvii/tasteof/blob/main/src/assets/logo.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
}

.banner {
  height: 360px;
  background: url(https://github.com/vvvvvvii/tasteof/blob/main/src/assets/banner.png?raw=true);
  background-image: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(https://github.com/vvvvvvii/tasteof/blob/main/src/assets/banner.png?raw=true), 20%); // 讓背景透明但上面的字不影響
  background-image: cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(https://github.com/vvvvvvii/tasteof/blob/main/src/assets/banner.png?raw=true), 20%); // 讓背景透明但上面的字不影響
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(md) {
    height: 420px;
  }
  @include media-breakpoint-up(lg) {
    height: 548px;
  }
}
